# Dependencies
node_modules/
npm-debug.log*

# NextJS build cache
.next/
out/

# Tests
tests/
coverage/

# IDE
.idea/
.vscode/
*.swp

# Git
.git/
.gitignore

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Documentation
*.md
!README.md

# TypeScript build info
tsconfig.tsbuildinfo